<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzbank.credit.mapper.CampusCardMapper">
    <insert id="insertCampuse" parameterType="com.hzbank.credit.entity.CampusCard">
        INSERT INTO campuscard (IDNumber,PhoneNumber,CampusCardID,TransactionPassword,Balance)
        VALUES (#{campus.idNumber}, #{campus.phoneNumber},#{campus.campusCardID},#{campus.transactionPassword},#{campus.balance})
    </insert>
    <select id="selectbyid" resultType="com.hzbank.credit.entity.CampusCard">
        select * from campuscard where CampusCardID = #{id}
    </select>

</mapper>



