<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzbank.credit.mapper.CreditCardMapper">
    <insert id="insertCredit" parameterType="com.hzbank.credit.entity.CreditCard">
        INSERT into creditcard (CreditCard,CampusCardNumber,CardStatus,TransactionPassword,CreditLimit,Currency,AvailableCredit,AnnualFee,TransactionCount,TotalSpent,TotalRepaid,MinimumRepayment,CardBalance,AmountDue,UnpaidMinimumRepayment,DailyInterest)
        VALUES (#{crecard.creditCard},#{crecard.campusCardNumber},#{crecard.cardStatus},#{crecard.transactionPassword},#{crecard.creditLimit},#{crecard.currency},#{crecard.availableCredit},#{crecard.annualFee},#{crecard.transactionCount},#{crecard.totalSpent},#{crecard.totalRepaid},#{crecard.minimumRepayment},#{crecard.cardBalance},#{crecard.amountDue},#{crecard.unpaidMinmumRepayment},#{crecard.dailyInterest})
    </insert>
    <update id="updatePass">
        UPDATE creditcard
        <set>
            <if test="password != null">
                TransactionPassword = #{password},
            </if>
        </set>
        WHERE CreditCard = #{cardnumber}
    </update>

    <update id="updateCreditCardByEntity">
        UPDATE creditcard
        <set>
            <!-- 更新信用卡状态 -->
            <if test="creditCard.cardStatus != null">
                cardStatus = #{creditCard.cardStatus},
            </if>

            <!-- 更新交易密码 -->
            <if test="creditCard.transactionPassword != null">
                transactionPassword = #{creditCard.transactionPassword},
            </if>

            <!-- 更新信用额度 -->
            <if test="creditCard.creditLimit != null">
                creditLimit = #{creditCard.creditLimit},
            </if>

            <!-- 更新币种 -->
            <if test="creditCard.currency != null">
                currency = #{creditCard.currency},
            </if>

            <!-- 更新可透支额度 -->
            <if test="creditCard.availableCredit != null">
                availableCredit = #{creditCard.availableCredit},
            </if>

            <!-- 更新年费 -->
            <if test="creditCard.annualFee != null">
                annualFee = #{creditCard.annualFee},
            </if>

            <!-- 更新消费次数 -->
            <if test="creditCard.transactionCount != null">
                transactionCount = #{creditCard.transactionCount},
            </if>

            <!-- 更新已还款金额 -->
            <if test="creditCard.totalRepaid != null">
                totalRepaid = #{creditCard.totalRepaid},
            </if>

            <!-- 更新已消费金额 -->
            <if test="creditCard.totalSpent != null">
                totalSpent = #{creditCard.totalSpent},
            </if>

            <!-- 更新最低还款金额 -->
            <if test="creditCard.minimumRepayment != null">
                minimumRepayment = #{creditCard.minimumRepayment},
            </if>

            <!-- 更新卡内余额 -->
            <if test="creditCard.cardBalance != null">
                cardBalance = #{creditCard.cardBalance},
            </if>

            <!-- 更新应还金额 -->
            <if test="creditCard.amountDue != null">
                amountDue = #{creditCard.amountDue},
            </if>

            <!-- 更新未还部分（最低） -->
            <if test="creditCard.unpaidMinmumRepayment != null">
                unpaidMinmumRepayment = #{creditCard.unpaidMinmumRepayment},
            </if>

            <!-- 更新日利息 -->
            <if test="creditCard.dailyInterest != null">
                dailyInterest = #{creditCard.dailyInterest},
            </if>
        </set>
        WHERE
        <!-- 设置更新的条件 -->
        creditCard = #{cardNumber}
    </update>

    <select id="getCreditCardInfo" resultType="com.hzbank.credit.entity.CreditCard">
          select * from creditcard where CreditCard = #{id}
    </select>

</mapper>
